@use "../abstract/mixins" as *;

.our-products-card{

  &__link{
    text-decoration: none;
  }

  &__img{
    display: block;
    margin-bottom: 2.4rem;
  }

  &__title{
    color: var(--color-primary-dark-2);
    font-family: var(--font-secondary-bold);
    font-size: 1.8rem;
    letter-spacing: -0.22px;
    margin-bottom: 1.6rem;

    @include respond(x-large){
      font-size: 2.2rem;
    }
  }

  &__description{
    color: var(--color-gray-light-2);
    font-family: var(--font-primary-light);
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: -0.25px;
    line-height: 2.4rem;
    width: 90%;

    @include respond(x-large){
      font-size: 1.8rem;
      width: 100%;
      line-height: 3rem;
    }
  }
}