:root{
  --background-color:blue;
}

html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  background-color: var(--background-color);
}

h1{
  font-size: 70px;
  font-family: 'SocialGothic', sans-serif;
}
