@use "../abstract/mixins" as *;

.heading-two{
  color: var(--color-white);
  font-family: var(--font-secondary-bold);
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: 600;
  letter-spacing: -0.44px;
  line-height: 4rem;

  &--main{
    display: block;
  }

  &--sub{
    display: block;
  }

  @include respond(x-large){
    font-size: 4.5rem!important;
    line-height: 5.5rem!important;
  }

  &--green{
    color: var(--color-primary-dark);
    font-size: 3.2rem;
    margin-bottom: 1rem;

    @include respond(medium){
      font-size: 3.6rem;
    }
  }
}

.heading-three{
  font-family: var(--font-secondary-bold);
  color: var(--color-gray-dark);
  font-size: 2.4rem;
  letter-spacing: -0.29px;
  margin-bottom: 2.9rem;
}

.section-header{
  text-align: center;
  margin-bottom: 2.2rem;

  @include respond(large){
    margin-bottom: 4.2rem;
  }

  @include respond(x-large){
    margin-bottom: 6.2rem;
  }

  &__title{
    color: var(--color-gray-light);
    font-family: var(--font-secondary-bold);
    font-size: 1.8rem;
    letter-spacing: .29px;
    line-height: 3.1rem;
    text-transform: uppercase;

    @include respond(small){
      font-size: 2.2rem;
    }

    @include respond(large){
      font-size: 2.4rem;
    }

    @include respond(x-large){
      font-size: 3rem;
    }

  }
}