@use "../abstract/mixins" as *;

.container{
  max-width: 100%;
  padding: 0 2rem;

  @include respond(medium){
    max-width: 72rem;
    padding: 0;
    margin: 0 auto;
  }

  @include respond(large){
    max-width: 96rem;
  }

  @include respond(x-large){
    max-width: 114rem!important;
  }

  @include respond(xx-large){
    max-width: 132rem!important;
  }
}

.u-margin-bottom-medium{
  margin-bottom: 1.7rem!important;
  @include respond(x-large){
    margin-bottom: 3rem!important;
  }
}


