@use "../abstract/mixins" as *;

.header{
  background:linear-gradient(45deg,var(--color-primary-dark-2), var(--color-primary-light));
  padding: 2.6rem 0;

  &__grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    justify-content: space-between;

    @include respond(medium){
      grid-template-columns: repeat(4, max-content);
    }

    @include respond(large){
      grid-template-columns: repeat(3, max-content);
    }
  }

  &__logo{
    width: 15rem;

    @include respond(large){
      width: 100%;
    }
  }

  &__search-mobile{
    width: 2rem;
    cursor: pointer;

    @include respond(large){
      display: none;
    }
  }

  &__info{
    display: none;
    justify-self: end;
    grid-column-gap: 3.6rem;
    grid-row-gap: 1.1rem;
    grid-template-rows: repeat(2, 1.6rem);
    grid-template-columns: repeat(auto-fit, minmax(120px, max-content));

    @include respond(medium){
      display: grid;
    }

    &-hours{
      grid-row: 2 / 3;
      grid-column: 1 / -1;
    }

    p{
      color: var(--color-white-2);
      font-family: var(--font-primary-regular);
      font-size: 1.2rem;
      letter-spacing: -0.22px;
    }
  }

  [class^="header__info-"]{
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__search{
    display: none;

    @include respond(large){
      display: flex;
    }
  }

  &__search-input{
    border: none;
    border-radius: 0.2rem;
    background: var(--color-primary-dark-2);
    padding: 1rem 0 1rem 1.7rem;
    color: var(--color-white);
    font-family:var(--font-primary-light);


    &:focus{
      outline: none;
    }

    &::-moz-placeholder,
    &::-webkit-input-placeholder{
      color: var(--color-white);
      font-family:var(--font-primary-light);
      font-size: 1.4rem;
      font-weight: 300;
      letter-spacing: 0.15px;
      line-height: 1.7rem;
    }
  }

  &__search-btn{
    border: none;
    background-color: var(--color-primary-dark-2);
    cursor:pointer;
    padding-right: 1.5rem;
    @include CenterFlex();
  }
}

.navigation-toggler{
  background-color: transparent;
  border: 2px solid var(--color-white);
  border-radius: 3px;
  padding: .8rem;
  cursor: pointer;
  overflow: hidden;

  @include respond(large){
    display: none;
  }

  &__icon{
    display: block;
    height: 2px;
    width: 25px;
    background-color: var(--color-white);
    transition: all 0.4s linear;
  }

  &.active &__icon--1{
    transform: rotate(45deg) translate(4px, 5px);
  }

  &__icon--2{
    margin: .5rem 0;
  }

  &.active &__icon--2{
    transform: translateX(-100px);
  }

  &.active &__icon--3{
    transform: rotate(-45deg) translate(4px, -6px);
  }
}