@keyframes moveInLeft {
  100%{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  100%{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@keyframes fade-out {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@keyframes slide-up {
  0%{
    transform: translateY(100%);
  }

  100%{
    transform: translateY(0%);
  }
}

.animation-1{
  animation: moveInLeft .6s ease-in .2s;
  animation-fill-mode: forwards;
}

.animation-2{
  animation: moveInRight .6s ease-in .4s;
  animation-fill-mode: forwards;
}
