@mixin CenterFlex($flexDirection:row){
  display: flex;
  flex-direction:$flexDirection;
  justify-content: center;
  align-items: center;
}

@mixin CenterFlexStart($flexDirection:row){
  display: flex;
  flex-direction:$flexDirection;
  justify-content: center;
  align-items: start;
}

@mixin CenterAbsolute{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin PositionAbsolute($top:unset, $right:unset,$bottom:unset,$left:unset){
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}