@mixin CenterFlex($flexDirection:row){
  display: flex;
  flex-direction:$flexDirection;
  justify-content: center;
  align-items: center;
}

@mixin CenterFlexStart($flexDirection:row){
  display: flex;
  flex-direction:$flexDirection;
  justify-content: center;
  align-items: start;
}

@mixin CenterAbsolute{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin PositionAbsolute($top:unset, $right:unset,$bottom:unset,$left:unset){
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

//RESPONSIVE MANAGER

/*
1EM = 16PX
*/

@mixin respond($breakpoint){
  @if($breakpoint == xx-large){
    @media(min-width: 87.5em) { @content } // 1400px
  }

  @if($breakpoint == x-large){
    @media(min-width: 75em) { @content } // 1200px
  }

  @if($breakpoint == large){
    @media(max-width: 62em) { @content } // 992px
  }

  @if($breakpoint == medium){
    @media(max-width: 48em) { @content } // 768px
  }

  @if($breakpoint == small){
    @media(max-width: 36em) { @content } // 576px
  }
}